[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
rope = "*"

[packages]
scipy = "*"
sklearn = "*"
python-dotenv = "*"
requests = "*"
matplotlib = "*"
intranav-sdk = {path = "./intranav-sdk-0.0.51.tar.gz"}
PyQt5 = "*"
numpy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true